/* 全局样式 */
.bg-main {background-color: #1296db;}
.bg-pink {background-color: #FF4A6A!important;}
.bg-main-disabled {background-color: #F87F97!important;}
.text-main {color: #1296db;}
.text-pink {color: #FF4A6A;}